In [1]:
import import_ipynb
import Content_based_filtering as cf
from scipy.io import loadmat
import pandas as pd
import numpy as np
from IPython.display import display

importing Jupyter notebook from Content_based_filtering.ipynb

In [2]:
top10ids=[]
dic=loadmat('top10.mat')

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user_df = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols, 
                    encoding='latin-1', parse_dates=True)

movies_df=pd.read_csv('ml-100k/item_cc.csv') #Movie details

movies_df2=pd.read_csv('ml-100k/item_cc_genre.csv')

matrix=pd.read_csv('ml-100k/user_item_matrix.csv')

new_prediction=pd.read_csv('ml-100k/new_predicted_colab.csv')

In [3]:
m=np.zeros(shape=(943+1,1682+1)).astype(int)
p=pd.read_csv("ml-100k/new_predicted_colab.csv")
p=p.values
for i in p:
    try:
    
        m[int(i[0])][int(i[1])]=int(i[2])
    except:
        print(i)
np.savetxt("ml-100k/only_predicted.csv", m.astype(int), fmt='%i', delimiter=",")

In [4]:
only_predicted=pd.read_csv('ml-100k/only_predicted.csv')

In [5]:
flag=0

def getusers(uname,movieid): #Suggest users who would rate this movie the same as current user

    rating=matrix.iloc[uname][movieid]
    print("you're going to rate this movie: ",rating)
    print("---------------------------------------------------------------------")
    print("your partners are (They also rated",rating,")")
    h=only_predicted.loc[only_predicted.iloc[:,movieid]==rating]
    l=h.index.tolist()
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(user_df.loc[user_df['user_id'].isin(l)])
    print("---------------------------------------------------------------------")
    

def gettop(uname): #Top 10 movies which the user is going to rate high
    print("You may like:")
    ll=dic[str(uname)][0]
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(movies_df2.loc[movies_df['movie_id'].isin(ll)])
    print("------------------------------------------------------")

def driver(uname, movieid=""):
    
    gettop(uname)
    if(movieid!=""):
        movietitle=movies_df2.loc[movies_df['movie_id']==int(movieid),'movie_title'].iloc[0]
        if(m[uname][movieid]!=0):
            getusers(uname,movieid)
        else:
            print("You have already watched this movie")
            
        print("Similar movies are")
        ans=cf.get_recommendations(movietitle)
        
        lll=ans[0].tolist()
        df2=movies_df2['movie_title'].str.lower().to_frame()
        df2=df2['movie_title'].str.strip().to_frame()
        df3=movies_df2[['genre','year','director','actor1','actor2']]
        df3=pd.concat([df2, df3], axis=1)


        with pd.option_context('display.max_rows', None, 'display.max_columns', None):
            display(df3.loc[df3['movie_title'].isin(lll)])
        print("-----------------------------------------------------")

driver(196,242)

You may like:

,genre,movie_id,movie_title,year,tmdb_id,director,actor1,actor2
63,Drama,64,"Shawshank Redemption, The",1994,278,Frank Darabont,Tim Robbins,Morgan Freeman
113,Animation,114,Wallace & Gromit: The Best of Aardman Animation,1996,532,Nick Park,Peter Sallis,Anne Reid
173,Action Adventure,174,Raiders of the Lost Ark,1981,85,Steven Spielberg,Harrison Ford,Karen Allen
184,Horror Romance Thriller,185,Psycho,1960,539,Alfred Hitchcock,Anthony Perkins,Janet Leigh
188,Animation Comedy,189,"Grand Day Out, A",1992,530,Nick Park,Peter Sallis,Peter Hawkins
316,Drama War,318,Schindler's List,1993,424,Steven Spielberg,Liam Neeson,Ben Kingsley
355,Drama,357,One Flew Over the Cuckoo's Nest,1975,510,Miloš Forman,Jack Nicholson,Louise Fletcher
406,Animation Comedy Thriller,408,"Close Shave, A",1996,532,Nick Park,Peter Sallis,Anne Reid
478,Comedy Thriller,480,North by Northwest,1959,213,Alfred Hitchcock,Cary Grant,Eva Marie Saint
601,Mystery Thriller,603,Rear Window,1954,567,Alfred Hitchcock,James Stewart,Grace Kelly

------------------------------------------------------
You have already watched this movie
Similar movies are

,movie_title,genre,year,director,actor1,actor2
248,austin powers: international man of mystery,Comedy,1997,Jay Roach,Mike Myers,Elizabeth Hurley
250,shall we dance?,Comedy,1997,Masayuki Suo,Koji Yakusho,Tamiyo Kusakari
267,"full monty, the",Comedy,1997,Peter Cattaneo,Robert Carlyle,Mark Addy
288,fierce creatures,Comedy,1997,Fred Schepisi,John Cleese,Jamie Lee Curtis
292,liar liar,Comedy,1997,Tom Shadyac,Jim Carrey,Maura Tierney
299,in & out,Comedy,1997,Barry Sonnenfeld,Tommy Lee Jones,Will Smith
336,bean,Comedy,1997,Mel Smith,Rowan Atkinson,Peter MacNicol
339,critical care,Comedy,1997,Sidney Lumet,James Spader,Kyra Sedgwick
681,rocket man,Comedy,1997,Stuart Gillard,Harland Williams,Jessica Lundy
686,leave it to beaver,Comedy,1997,Andy Cadiff,Christopher McDonald,Janine Turner
891,for richer or poorer,Comedy,1997,Bryan Spicer,Tim Allen,Kirstie Alley
899,mr. magoo,Comedy,1997,Stanley Tong,Leslie Nielsen,Kelly Lynch
993,"kiss me, guido",Comedy,1997,Tony Vitale,Nick Scotti,Anthony Barrile
1000,"pest, the",Comedy,1997,R. Paul Miller,John Leguizamo,Jeffrey Jones
1012,romy and michele's high school reunion,Comedy,1997,David Mirkin,Mira Sorvino,Lisa Kudrow
1284,shall we dance?,Comedy Musical Romance,1937,Mark Sandrich,Fred Astaire,Ginger Rogers

-----------------------------------------------------

In [9]:
driver(4,1)

You may like:

,genre,movie_id,movie_title,year,tmdb_id,director,actor1,actor2
97,Drama Thriller,98,"Silence of the Lambs, The",1991,274,Jonathan Demme,Jodie Foster,Anthony Hopkins
164,Drama,165,Jean de Florette,1986,4480,Claude Berri,Yves Montand,Gérard Depardieu
207,Comedy Horror,208,Young Frankenstein,1974,3034,Mel Brooks,Gene Wilder,Peter Boyle
300,Crime Film-Noir Mystery Thriller,302,L.A. Confidential,1997,2118,Curtis Hanson,Kevin Spacey,Guy Pearce
425,Drama,427,To Kill a Mockingbird,1962,595,Robert Mulligan,Gregory Peck,Mary Badham
472,Sci-Fi War,474,Dr. Strangelove or: How I Learned to Stop Worr...,1963,935,Stanley Kubrick,Peter Sellers,George C. Scott
478,Comedy Thriller,480,North by Northwest,1959,213,Alfred Hitchcock,Cary Grant,Eva Marie Saint
496,Action Adventure Romance War,498,"African Queen, The",1951,488,John Huston,Humphrey Bogart,Katharine Hepburn
513,Action Drama War,515,"Boot, Das",1997,387,Wolfgang Petersen,Jürgen Prochnow,Herbert Grönemeyer
601,Mystery Thriller,603,Rear Window,1954,567,Alfred Hitchcock,James Stewart,Grace Kelly

------------------------------------------------------
you're going to rate this movie:  4
---------------------------------------------------------------------
your partners are (They also rated 4 )

     user_id  age sex     occupation zip_code
1          2   53   F          other    94043
5          6   42   M      executive    98101
6          7   57   M  administrator    91344
7          8   36   M  administrator    05201
9         10   53   M         lawyer    90703
10        11   39   F          other    30329
12        13   47   M       educator    29206
17        18   35   F          other    37212
20        21   26   M         writer    30068
22        23   30   F         artist    48197
25        26   49   M       engineer    21044
26        27   40   F      librarian    30030
27        28   32   M         writer    55369
28        29   41   M     programmer    94043
29        30    7   M        student    55436
30        31   24   M         artist    10003
31        32   28   F        student    78741
32        33   23   M        student    27510
33        34   38   F  administrator    42141
34        35   20   F      homemaker    42459
35        36   19   F        student    93117
37        38   28   F          other    54467
44        45   29   M     programmer    50233
45        46   27   F      marketing    46538
46        47   53   M      marketing    07102
48        49   23   F        student    76111
50        51   28   M       educator    16509
51        52   18   F        student    55105
53        54   22   M      executive    66315
58        59   49   M       educator    08403
59        60   50   M     healthcare    06472
66        67   17   M        student    60402
67        68   19   M        student    22904
72        73   24   M        student    41850
74        75   24   M  entertainment    08816
76        77   30   M     technician    29379
78        79   39   F  administrator    03755
83        84   32   M      executive    55369
84        85   51   M       educator    20003
85        86   26   M  administrator    46005
86        87   47   M  administrator    89503
88        89   43   F  administrator    68106
89        90   60   M       educator    78155
96        97   43   M         artist    98006
98        99   20   M        student    63129
101      102   38   M     programmer    30220
103      104   27   M        student    55108
108      109   29   M          other    55423
109      110   19   M        student    77840
110      111   57   M       engineer    90630
111      112   30   M       salesman    60613
113      114   27   M     programmer    75013
117      118   21   M  administrator    90210
120      121   54   M      librarian    99603
121      122   32   F         writer    22206
124      125   30   M         lawyer    22202
130      131   59   F  administrator    15237
133      134   31   M     programmer    80236
134      135   23   M        student    38401
137      138   46   M         doctor    53211
138      139   20   M        student    08904
140      141   49   M     programmer    36117
141      142   13   M          other    48118
144      145   31   M  entertainment    V3N4P
145      146   45   M         artist    83814
152      153   25   M        student    60641
157      158   50   M       educator    27606
163      164   47   M     healthcare    80123
164      165   20   F          other    53715
167      168   48   M          other    80127
168      169   52   F          other    53705
169      170   53   F     healthcare    30067
170      171   48   F       educator    78750
173      174   30   F  administrator    52302
174      175   26   F      scientist    21911
178      179   15   M  entertainment    20755
181      182   36   M     programmer    33884
183      184   37   M      librarian    76013
184      185   53   F      librarian    97403
185      186   39   F      executive    00000
186      187   26   M       educator    16801
188      189   32   M         artist    95014
189      190   30   M  administrator    95938
190      191   33   M  administrator    95161
193      194   38   M  administrator    02154
194      195   42   M      scientist    93555
195      196   49   M         writer    55105
205      206   14   F        student    53115
206      207   39   M      marketing    92037
210      211   66   M       salesman    32605
212      213   33   M      executive    55345
213      214   26   F      librarian    11231
215      216   22   M       engineer    02215
217      218   37   M  administrator    06513
218      219   32   M     programmer    43212
219      220   30   M      librarian    78205
222      223   19   F        student    47906
223      224   31   F       educator    43512
224      225   51   F  administrator    58202
225      226   28   M        student    92103
231      232   45   M      scientist    99709
234      235   37   M       educator    22973
235      236   44   F         writer    53214
236      237   49   M  administrator    63146
237      238   42   F  administrator    44124
238      239   39   M         artist    95628
239      240   23   F       educator    20784
243      244   28   M     technician    80525
255      256   35   F           none    39042
256      257   17   M        student    77005
257      258   19   F        student    77801
258      259   21   M        student    48823
262      263   41   M     programmer    55346
264      265   26   M      executive    84601
265      266   62   F  administrator    78756
271      272   33   M      scientist    53706
276      277   35   F  administrator    55406
279      280   30   F      librarian    22903
280      281   15   F        student    06059
281      282   22   M  administrator    20057
282      283   28   M     programmer    55305
283      284   40   M      executive    92629
302      303   19   M        student    14853
304      305   23   M     programmer    94086
307      308   60   M        retired    95076
308      309   40   M      scientist    70802
313      314   20   F        student    08043
315      316   43   F          other    77009
316      317   22   M  administrator    13210
317      318   65   M        retired    06518
319      320   19   M        student    24060
321      322   20   M        student    50613
326      327   22   M        student    11101
327      328   51   M  administrator    06779
331      332   20   M        student    40504
332      333   47   M          other    V0R2M
333      334   32   M      librarian    30002
335      336   23   M       salesman    42101
339      340   46   M       engineer    80123
340      341   17   F        student    44405
344      345   28   F      librarian    94143
347      348   24   F        student    45660
351      352   37   F     programmer    55105
352      353   25   M      scientist    28480
354      355   25   M        student    60135
356      357   26   M      executive    98133
359      360   51   M          other    98027
360      361   22   M        student    44074
362      363   20   M        student    87501
366      367   17   M        student    37411
367      368   18   M        student    92113
371      372   25   F        student    66046
373      374   36   M      executive    78746
374      375   17   M  entertainment    37777
375      376   28   F          other    10010
380      381   33   M         artist    94608
381      382   45   M       engineer    01824
382      383   42   M  administrator    75204
384      385   36   M         writer    10003
390      391   23   M        student    84604
395      396   57   M       engineer    94551
398      399   25   M          other    92374
402      403   37   M          other    06811
406      407   29   M       engineer    03261
407      408   23   M        student    61755
408      409   48   M  administrator    98225
411      412   25   M       educator    15222
412      413   55   M       educator    78212
413      414   24   M     programmer    38115
418      419   37   M         lawyer    43215
421      422   26   M  entertainment    94533
424      425   19   M        student    58644
429      430   38   M      scientist    98199
431      432   22   M  entertainment    50311
434      435   24   M       engineer    60007
437      438   51   F  administrator    43204
441      442   22   M        student    85282
442      443   35   M       salesman    33308
447      448   23   M  entertainment    10021
449      450   35   F       educator    11758
450      451   16   M        student    48446
451      452   35   M  administrator    28018
460      461   15   M        student    98102
462      463   48   F     healthcare    75218
464      465   32   M          other    05001
467      468   28   M       engineer    02341
472      473   29   M        student    94708
473      474   51   M      executive    93711
474      475   30   M     programmer    75230
479      480   57   M        retired    98257
480      481   73   M        retired    37771
489      490   29   F         artist    V5A2B
490      491   43   F         writer    53711
497      498   26   M         writer    55408
499      500   28   M  administrator    94305
500      501   22   M        student    10025
502      503   50   F         writer    27514
504      505   27   F          other    20657
508      509   23   M  administrator    10011
509      510   34   M          other    98038
511      512   29   M          other    20090
513      514   27   M     programmer    20707
514      515   53   M      marketing    49508
517      518   49   F         writer    99709
518      519   22   M          other    55320
520      521   19   M        student    02146
525      526   30   M      marketing    97124
526      527   33   M      librarian    12180
527      528   18   M        student    55104
528      529   47   F  administrator    44224
529      530   29   M       engineer    94040
536      537   36   M       engineer    22902
537      538   31   M      scientist    21010
541      542   21   M        student    60515
542      543   33   M      scientist    95123
544      545   27   M     technician    08052
545      546   36   M      executive    22911
549      550   16   F        student    95453
553      554   32   M      scientist    62901
554      555   29   F       educator    23227
555      556   35   F       educator    30606
556      557   30   F         writer    11217
557      558   56   F         writer    63132
561      562   54   F  administrator    20879
562      563   39   F      librarian    32707
563      564   65   M        retired    94591
570      571   34   M         artist    01945
571      572   51   M       educator    20003
579      580   16   M        student    17961
581      582   17   M        student    93003
582      583   44   M       engineer    29631
583      584   25   M        student    27511
585      586   20   M        student    79508
587      588   18   F        student    93063
588      589   21   M         lawyer    90034
589      590   50   M       educator    82435
592      593   31   F       educator    68767
593      594   46   M       educator    M4J2K
594      595   25   M     programmer    31909
596      597   23   M          other    84116
598      599   22   F        student    R3T5K
601      602   47   F          other    34656
605      606   28   M     programmer    63044
606      607   49   F     healthcare    02154
609      610   22   M        student    21227
613      614   54   M       educator    80227
614      615   38   M       educator    27705
617      618   15   F        student    44212
621      622   25   M     programmer    14850
623      624   19   M        student    30067
624      625   27   M     programmer    20723
625      626   23   M      scientist    19807
627      628   13   M           none    94306
629      630   26   F     healthcare    55408
631      632   18   M        student    55454
636      637   30   M          other    74101
638      639   42   F      librarian    12065
639      640   20   M        student    61801
642      643   39   M      scientist    55122
643      644   51   M        retired    63645
645      646   17   F        student    51250
657      658   33   M     programmer    92626
660      661   28   M     programmer    98121
665      666   44   M  administrator    61820
666      667   35   M      librarian    01970
668      669   37   M          other    20009
669      670   30   M     technician    21114
670      671   21   M     programmer    91919
671      672   54   F  administrator    90095
673      674   13   F        student    55337
679      680   33   M         lawyer    90405
681      682   23   M     programmer    55128
684      685   32   F      librarian    55409
685      686   32   M       educator    26506
692      693   43   F     healthcare    85210
693      694   60   M     programmer    06365
694      695   26   M         writer    38115
698      699   44   M          other    96754
702      703   26   M       educator    49512
705      706   23   M        student    55454
709      710   19   M        student    92020
710      711   22   F        student    15203
715      716   36   F  administrator    44265
718      719   37   F          other    V0R2H
720      721   24   F  entertainment    11238
723      724   31   M      executive    40243
726      727   25   M        student    78741
727      728   58   M      executive    94306
730      731   41   F       educator    70403
732      733   44   F          other    60630
734      735   29   F     healthcare    85719
735      736   48   F         writer    94618
737      738   35   M     technician    95403
738      739   35   M     technician    73162
739      740   25   F       educator    22206
741      742   35   M        student    29210
748      749   33   M          other    80919
750      751   24   F          other    90034
752      753   56   M       salesman    91206
753      754   59   F      librarian    62901
756      757   26   M        student    55104
758      759   20   F        student    68503
760      761   17   M        student    97302
763      764   27   F       educator    62903
770      771   26   M        student    15232
773      774   30   M        student    80027
774      775   46   M      executive    90036
778      779   31   M        student    K7L5J
779      780   49   M     programmer    94560
782      783   30   M      marketing    77081
785      786   36   F       engineer    01754
789      790   27   M     technician    80913
797      798   40   F         writer    64131
799      800   25   M     programmer    55337
800      801   22   M         writer    92154
801      802   35   M  administrator    34105
806      807   41   F     healthcare    93555
807      808   45   M       salesman    90016
810      811   40   F       educator    73013
811      812   22   M     technician    76234
812      813   14   F        student    02136
816      817   19   M        student    60152
817      818   28   M      librarian    27514
823      824   31   M          other    15017
825      826   28   M         artist    77048
830      831   21   M          other    33765
832      833   34   M         writer    90019
838      839   38   F  entertainment    90814
839      840   39   M         artist    55406
840      841   45   M         doctor    47401
842      843   35   M      librarian    44212
844      845   64   M         doctor    97405
846      847   29   M        student    55417
849      850   34   M     technician    78390
851      852   46   M  administrator    94086
854      855   53   M      librarian    04988
855      856   43   F      marketing    97215
856      857   35   F  administrator    V1G4L
857      858   63   M       educator    09645
858      859   18   F          other    06492
859      860   70   F        retired    48322
860      861   38   F        student    14085
861      862   25   M      executive    13820
867      868   21   M     programmer    55303
869      870   22   M        student    65203
872      873   48   F  administrator    33763
873      874   36   M      scientist    37076
874      875   24   F        student    35802
875      876   41   M          other    20902
882      883   49   M      librarian    50266
886      887   14   F        student    27249
896      897   30   M          other    33484
902      903   28   M       educator    20850
903      904   17   F        student    61073
904      905   27   M          other    30350
909      910   28   M     healthcare    29301
910      911   37   F         writer    53210
913      914   44   F          other    08105
923      924   29   M          other    11753
924      925   18   F       salesman    49036
926      927   23   M     programmer    55428
929      930   28   F      scientist    07310
935      936   24   M          other    32789
938      939   26   F        student    33319
940      941   20   M        student    97229

---------------------------------------------------------------------
Similar movies are

,movie_title,genre,year,director,actor1,actor2
7,babe,Children's Comedy Drama,1995,Chris Noonan,Christine Cavanaugh,Miriam Margolyes
25,"brothers mcmullen, the",Comedy,1995,Edward Burns,Shari Albert,Maxine Bahns
62,"santa clause, the",Children's Comedy,1994,John Pasquin,Tim Allen,Judge Reinhold
94,aladdin,Animation Children's Comedy Musical,1992,Ron Clements,Scott Weinger,Robin Williams
420,aladdin and the king of thieves,Animation Children's Comedy,1996,Tad Stones,Scott Weinger,Linda Larkin
540,pocahontas,Animation Children's Musical Romance,1995,Mike Gabriel,Irene Bedard,Mel Gibson
558,"kid in king arthur's court, a",Adventure Children's Comedy Fantasy Romance Sc...,1995,Michael Gottlieb,Thomas Ian Nicholas,Joss Ackland
818,space jam,Adventure Animation Children's Comedy Fantasy,1996,Joe Pytka,Michael Jordan,Wayne Knight
843,that thing you do!,Comedy,1996,Tom Hanks,Tom Everett Scott,Johnathon Schaech
991,hercules,Adventure Animation Children's Comedy Musical,1997,John Musker,Tate Donovan,Josh Keaton
994,"big green, the",Children's Comedy,1995,Holly Goldberg Sloan,Steve Guttenberg,Olivia d'Abo
1064,balto,Animation Children's,1995,Simon Wells,Kevin Bacon,Bob Hoskins
1217,"goofy movie, a",Animation Children's Comedy Romance,1995,Kevin Lima,Bill Farmer,Jason Marsden
1410,land before time iii: the time of the great gi...,Animation Children's,1995,Roy Allen Smith,Scott McAfee,Candace Hutson
1468,gumby: the movie,Animation Children's,1995,Art Clokey,Dal McKennon,Art Clokey

-----------------------------------------------------