In [1]:
import import_ipynb
import Content_based_filtering as cf
from scipy.io import loadmat
import pandas as pd
import numpy as np
from IPython.display import display
import Front_End_Widget as few

importing Jupyter notebook from Content_based_filtering.ipynb
importing Jupyter notebook from Front_End_Widget.ipynb
Choose your options:

/home/sumanthvrao/anaconda3/envs/deepl/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

interactive(children=(Checkbox(value=False, description='age'), Checkbox(value=False, description='sex'), Chec…

In [2]:
top10ids=[]
dic=loadmat('top10.mat')

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user_df = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols, 
                    encoding='latin-1', parse_dates=True)

movies_df=pd.read_csv('ml-100k/item_cc.csv') #Movie details

movies_df2=pd.read_csv('ml-100k/item_cc_genre.csv')

matrix=pd.read_csv('ml-100k/user_item_matrix.csv')

new_prediction=pd.read_csv('ml-100k/new_predicted_colab.csv')

In [3]:
m=np.zeros(shape=(943+1,1682+1)).astype(int)
p=pd.read_csv("ml-100k/new_predicted_colab.csv")
p=p.values
for i in p:
    try:
    
        m[int(i[0])][int(i[1])]=int(i[2])
    except:
        print(i)
np.savetxt("ml-100k/only_predicted.csv", m.astype(int), fmt='%i', delimiter=",")

In [4]:
only_predicted=pd.read_csv('ml-100k/only_predicted.csv')

In [5]:
flag=0

def getusers(uname,movieid): #Suggest users who would rate this movie the same as current user

    rating=matrix.iloc[uname][movieid]
    print("you're going to rate this movie: ",rating)
    print("---------------------------------------------------------------------")
    print("your partners are (They also rated",rating,")")
    h=only_predicted.loc[only_predicted.iloc[:,movieid]==rating]
    l=h.index.tolist()
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        final_user_frame = user_df.loc[user_df['user_id'].isin(l)]
        few.filter_data(final_user_frame)
    print("---------------------------------------------------------------------")
    

def gettop(uname): #Top 10 movies which the user is going to rate high
    print("You may like:")
    ll=dic[str(uname)][0]
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(movies_df2.loc[movies_df['movie_id'].isin(ll)])
    print("------------------------------------------------------")

def driver(uname, movieid=""):
    
    gettop(uname)
    if(movieid!=""):
        movietitle=movies_df2.loc[movies_df['movie_id']==int(movieid),'movie_title'].iloc[0]
        if(m[uname][movieid]!=0):
            getusers(uname,movieid)
        else:
            print("You have already watched this movie")
            
        print("Similar movies are")
        ans=cf.get_recommendations(movietitle)
        
        lll=ans[0].tolist()
        df2=movies_df2['movie_title'].str.lower().to_frame()
        df2=df2['movie_title'].str.strip().to_frame()
        df3=movies_df2[['genre','year','director','actor1','actor2']]
        df3=pd.concat([df2, df3], axis=1)


        with pd.option_context('display.max_rows', None, 'display.max_columns', None):
            display(df3.loc[df3['movie_title'].isin(lll)])                         
        
driver(196,242)

You may like:

,genre,movie_id,movie_title,year,tmdb_id,director,actor1,actor2
63,Drama,64,"Shawshank Redemption, The",1994,278,Frank Darabont,Tim Robbins,Morgan Freeman
113,Animation,114,Wallace & Gromit: The Best of Aardman Animation,1996,532,Nick Park,Peter Sallis,Anne Reid
173,Action Adventure,174,Raiders of the Lost Ark,1981,85,Steven Spielberg,Harrison Ford,Karen Allen
184,Horror Romance Thriller,185,Psycho,1960,539,Alfred Hitchcock,Anthony Perkins,Janet Leigh
188,Animation Comedy,189,"Grand Day Out, A",1992,530,Nick Park,Peter Sallis,Peter Hawkins
316,Drama War,318,Schindler's List,1993,424,Steven Spielberg,Liam Neeson,Ben Kingsley
355,Drama,357,One Flew Over the Cuckoo's Nest,1975,510,Miloš Forman,Jack Nicholson,Louise Fletcher
406,Animation Comedy Thriller,408,"Close Shave, A",1996,532,Nick Park,Peter Sallis,Anne Reid
478,Comedy Thriller,480,North by Northwest,1959,213,Alfred Hitchcock,Cary Grant,Eva Marie Saint
601,Mystery Thriller,603,Rear Window,1954,567,Alfred Hitchcock,James Stewart,Grace Kelly

------------------------------------------------------
You have already watched this movie
Similar movies are

,movie_title,genre,year,director,actor1,actor2
248,austin powers: international man of mystery,Comedy,1997,Jay Roach,Mike Myers,Elizabeth Hurley
250,shall we dance?,Comedy,1997,Masayuki Suo,Koji Yakusho,Tamiyo Kusakari
267,"full monty, the",Comedy,1997,Peter Cattaneo,Robert Carlyle,Mark Addy
288,fierce creatures,Comedy,1997,Fred Schepisi,John Cleese,Jamie Lee Curtis
292,liar liar,Comedy,1997,Tom Shadyac,Jim Carrey,Maura Tierney
299,in & out,Comedy,1997,Barry Sonnenfeld,Tommy Lee Jones,Will Smith
336,bean,Comedy,1997,Mel Smith,Rowan Atkinson,Peter MacNicol
339,critical care,Comedy,1997,Sidney Lumet,James Spader,Kyra Sedgwick
681,rocket man,Comedy,1997,Stuart Gillard,Harland Williams,Jessica Lundy
686,leave it to beaver,Comedy,1997,Andy Cadiff,Christopher McDonald,Janine Turner
891,for richer or poorer,Comedy,1997,Bryan Spicer,Tim Allen,Kirstie Alley
899,mr. magoo,Comedy,1997,Stanley Tong,Leslie Nielsen,Kelly Lynch
993,"kiss me, guido",Comedy,1997,Tony Vitale,Nick Scotti,Anthony Barrile
1000,"pest, the",Comedy,1997,R. Paul Miller,John Leguizamo,Jeffrey Jones
1012,romy and michele's high school reunion,Comedy,1997,David Mirkin,Mira Sorvino,Lisa Kudrow
1284,shall we dance?,Comedy Musical Romance,1937,Mark Sandrich,Fred Astaire,Ginger Rogers

In [6]:
driver(4,1)

You may like:

,genre,movie_id,movie_title,year,tmdb_id,director,actor1,actor2
97,Drama Thriller,98,"Silence of the Lambs, The",1991,274,Jonathan Demme,Jodie Foster,Anthony Hopkins
164,Drama,165,Jean de Florette,1986,4480,Claude Berri,Yves Montand,Gérard Depardieu
207,Comedy Horror,208,Young Frankenstein,1974,3034,Mel Brooks,Gene Wilder,Peter Boyle
300,Crime Film-Noir Mystery Thriller,302,L.A. Confidential,1997,2118,Curtis Hanson,Kevin Spacey,Guy Pearce
425,Drama,427,To Kill a Mockingbird,1962,595,Robert Mulligan,Gregory Peck,Mary Badham
472,Sci-Fi War,474,Dr. Strangelove or: How I Learned to Stop Worr...,1963,935,Stanley Kubrick,Peter Sellers,George C. Scott
478,Comedy Thriller,480,North by Northwest,1959,213,Alfred Hitchcock,Cary Grant,Eva Marie Saint
496,Action Adventure Romance War,498,"African Queen, The",1951,488,John Huston,Humphrey Bogart,Katharine Hepburn
513,Action Drama War,515,"Boot, Das",1997,387,Wolfgang Petersen,Jürgen Prochnow,Herbert Grönemeyer
601,Mystery Thriller,603,Rear Window,1954,567,Alfred Hitchcock,James Stewart,Grace Kelly

------------------------------------------------------
you're going to rate this movie:  4
---------------------------------------------------------------------
your partners are (They also rated 4 )
Choose your options:

interactive(children=(Checkbox(value=False, description='age'), Checkbox(value=False, description='sex'), Chec…

---------------------------------------------------------------------
Similar movies are

,movie_title,genre,year,director,actor1,actor2
7,babe,Children's Comedy Drama,1995,Chris Noonan,Christine Cavanaugh,Miriam Margolyes
25,"brothers mcmullen, the",Comedy,1995,Edward Burns,Shari Albert,Maxine Bahns
62,"santa clause, the",Children's Comedy,1994,John Pasquin,Tim Allen,Judge Reinhold
94,aladdin,Animation Children's Comedy Musical,1992,Ron Clements,Scott Weinger,Robin Williams
420,aladdin and the king of thieves,Animation Children's Comedy,1996,Tad Stones,Scott Weinger,Linda Larkin
540,pocahontas,Animation Children's Musical Romance,1995,Mike Gabriel,Irene Bedard,Mel Gibson
558,"kid in king arthur's court, a",Adventure Children's Comedy Fantasy Romance Sc...,1995,Michael Gottlieb,Thomas Ian Nicholas,Joss Ackland
818,space jam,Adventure Animation Children's Comedy Fantasy,1996,Joe Pytka,Michael Jordan,Wayne Knight
843,that thing you do!,Comedy,1996,Tom Hanks,Tom Everett Scott,Johnathon Schaech
991,hercules,Adventure Animation Children's Comedy Musical,1997,John Musker,Tate Donovan,Josh Keaton
994,"big green, the",Children's Comedy,1995,Holly Goldberg Sloan,Steve Guttenberg,Olivia d'Abo
1064,balto,Animation Children's,1995,Simon Wells,Kevin Bacon,Bob Hoskins
1217,"goofy movie, a",Animation Children's Comedy Romance,1995,Kevin Lima,Bill Farmer,Jason Marsden
1410,land before time iii: the time of the great gi...,Animation Children's,1995,Roy Allen Smith,Scott McAfee,Candace Hutson
1468,gumby: the movie,Animation Children's,1995,Art Clokey,Dal McKennon,Art Clokey