In [1]:
#importing all necessary librarys
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import widgets
import import_ipynb
from IPython.html.widgets import *
from IPython.display import display
from IPython.html import widgets

/home/sumanthvrao/anaconda3/envs/deepl/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user_df = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,
                    encoding='latin-1', parse_dates=True)

In [3]:
user_df.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [4]:
def filter_data(ip_df):
    
    def select_gender(gender):
        if(gender=="Male"):
            gender="M"
        else:
            gender="F"
        filtered_df = ip_df.loc[ip_df['sex'] == gender]
        display(filtered_df)

    
    def select_age(age):
        filtered_df = ip_df.loc[ip_df['age'] == age]
        display(filtered_df)
        
    def select_occupation(occupation):
        filtered_df = ip_df.loc[ip_df['occupation']==occupation]
        display(filtered_df)
        
    max_age = ip_df.loc[ip_df['age'].idxmax()]['age']
    min_age = ip_df.loc[ip_df['age'].idxmin()]['age']
        
    print("Choose your options: ")
    @interact(age=False,sex=False,occupation=False)
    def g(age, sex,occupation):
        if(age==True and sex==False and occupation==False):
            #print("TFF")
            returned_df = interact(select_age,age=(min_age,max_age,1))
            
        elif(age==False and sex==True and occupation==False):
            #print("FTF")
            returned_df = interact(select_gender,gender=["Male","Female"])
        
        elif(age==False and sex==False and occupation==True):
            #print("FFT")
            occupations = ip_df['occupation'].unique().tolist()
            returned_df = interact(select_occupation,occupation=occupations)
            
        elif(age==True and sex==True and occupation==False):
            #print("TTF")
            @interact(age=(min_age,max_age,1),gender=["Male","Female"])
            def select_age_sex(age,gender):
                if(gender=="Male"):
                    gender="M"
                else:
                    gender="F"
                filtered_df = ip_df.loc[ip_df['age'] == age]
                filtered_df = filtered_df.loc[filtered_df['sex']==gender]
                display(filtered_df)
        
        elif(age==False and sex==True and occupation==True):
            #print("FTT")
            occupations = ip_df['occupation'].unique().tolist()
            @interact(gender=["Male","Female"],occupation=occupations)
            def select_age_sex(gender,occupation):
                if(gender=="Male"):
                    gender="M"
                else:
                    gender="F"
                filtered_df = ip_df.loc[ip_df['sex']==gender]
                filtered_df = filtered_df[filtered_df['occupation']==occupation]
                display(filtered_df)
            
        elif(age==True and sex==False and occupation==True):
            #print("TFT")
            occupations = ip_df['occupation'].unique().tolist()
            @interact(age=(min_age,max_age,1),occupation=occupations)
            def select_age_sex(age,occupation):
                filtered_df = ip_df.loc[ip_df['age'] == age]
                filtered_df = filtered_df[filtered_df['occupation']==occupation]
                display(filtered_df)
                
        elif(age==True and sex==True and occupation==True):
            #print("TTT")
            occupations = ip_df['occupation'].unique().tolist()
            @interact(age=(min_age,max_age,1),occupation=occupations,gender=["Male","Female"])
            def select_age_sex(age,occupation,gender):
                if(gender=="Male"):
                    gender="M"
                else:
                    gender="F"
                filtered_df = ip_df.loc[ip_df['age'] == age]
                filtered_df = filtered_df[filtered_df['occupation']==occupation]
                filtered_df = filtered_df.loc[filtered_df['sex']==gender]
                display(filtered_df)
        
        else:
            #print("FFF")
            display(ip_df)
        #return(age,sex,occupation)
        
filter_data(user_df)

Choose your options:

interactive(children=(Checkbox(value=False, description='age'), Checkbox(value=False, description='sex'), Checâ€¦